@charset "utf-8";
/* 초기화 */
body, h1, h2, h3, h4, h5, h6, p, ul {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none;}
address, small {font-style: normal; font-size: 1em;}
.hidden {position: absolute; left: -9999px;}
/*
    반응형은 무조건 너비는 100%로 한다.
    대신 각 요소의 넓이는 가변적
*/
/* 웹 폰트 - notosans ko */
body {font-family: "notosans kr", sans-serif;}
/* 헤더 */
#header {
    text-transform: capitalize;
    background: linear-gradient(180deg, #8d0000 0%, #7e0000 100%);
    /* 어차피 상단이기 때문에 굳이 안해줘도 된다. */
    /* position: relative; */
    border-bottom: 1px solid #000;
}
#header a {color: #fff;}
#header h1 {text-align: center; padding: 5px 0; font-size: 24px;}
#header > a {
    text-indent: -9999px;
    position: absolute; top: 5px;
    background: url(../images/sprites.png) no-repeat;
}
#header .btn {left: 5px; width: 62px; height: 32px;}
#header .toggle {
    right: 5px; width: 32px; height: 32px;
    background-position-x: right;
}
/* toggle gnb */
#toggleGnb {background: #808080; padding: 20px;}
#toggleGnb ul {background: #fff; overflow: hidden;}
#toggleGnb ul li {float: left; width: 80px; height: 30px;}
#toggleGnb ul li a {color: #333;}
/* top, bottom : li 와 a 영역 동일하게 처리하자 */
/* top gnb */
#topGnb {background: linear-gradient(180deg, #8d0000 0%, #7e0000 100%);}
#topGnb ul {overflow: hidden;}
#topGnb ul li {
    float: left; width: 25%; height: 35px; text-align: center;
    border-bottom: 2px solid #000;
}
#topGnb ul li a {display: block; height: 35px; line-height: 35px; color: #fff;}
#topGnb ul li a:hover {background-color: #7efec8;}
/* bottom gnb */
#bottomGnb {}
#bottomGnb ul {}
#bottomGnb ul li {
    float: left; width: 20%; height: 34px; text-align: center;
    border-bottom: 1px solid #000;
}
#bottomGnb ul li a {
    display: block; height: 34px; line-height: 35px; color: #000;
    position: relative;
}
#bottomGnb ul li a:hover {background: lightblue;}
#bottomGnb ul li a::after {
    content: ""; position: absolute; top: 10px; left: -1px;
    height: 15px; border-right: 1px solid #000;
}
/*
    아래처럼 해도 되지만 그냥 단순히 안보이게 하려면 right 혹은 left에다가
    1px을 움직여서 숨겨줘도 된다.
    ** 여기서는 left로 해주자. (아래에 스크롤바가 생긴다)
*/
/* #bottomGnb ul li:last-child a::after {border-right: 0;} */
/* 본문 */
#content {}
#contentHeader {clear: both; padding: 25px 15px;}
#contentHeader h2 {}
#contentHeader time {}
#content p {margin: 0 7px 10px;}
/* 푸터 */
#footer {
    border-top: 3px solid #000;
    padding: 24px 0 20px; margin-top: 14px;
    text-align: center;
    font-family: "Time New Roman", serif;
}
#footer address {font-weight: bold;}
#footer small {font-style: italic;}